/* color */

$color-white: #ffffff;
$color-light: #c8cbe7;
$color-silver-light: #fafafa;
$color-silver: #e3e4f1;
$color-silver-dark: #d1d2da;
$color-silver-blue: #9495a5;

$color-purrple-blue: #494c6b;
$color-accent: #3a7cfd;
$color-dark-blue: #25273d;
$color-dark: #171823;

$border-radius: 0.3125rem;

$animate: ease-in-out 0.5s;

$box-shadow-light: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
$box-shadow-dark: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);

$gradient: linear-gradient(90deg, rgba(164, 35, 149, 1) 0%, rgba(55, 16, 189, 1) 100%);

/* GRID */
$container-mw: 1110px !default; // width container
$container-type: margin;
$grid-columns: 12 !default; // numbers columns
$grid-space: 30px; // margin
$grid-space-side: calc($grid-space / 2); // margin one side

// DON`T TOUCH
$grid-bp: (
	xs: 0px,
	// Extra small screen / phone
	sm: 576px,
	// Small screen / phone
	md: 768px,
	// Medium screen / tablet
	lg: 992px,
	// Large screen / desktop
	xl: 1200px,
	// Extra large screen / wide desktop
	xxl: 1400px,
	// Extra large screen / wide desktop
) !default;

$media-value: (
	mx: max,
	// desctop first
	mn: min,
	// mobile first
) !default;

//default breakpoits for container width values
$container-value: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: $container-mw
);

