@import './partials/index';
@import '@fontsource/josefin-sans';

body {
	font-family: 'Josefin Sans', sans-serif;
	background: var(--background-color);
	margin: 0;
	padding: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	all: unset;
}

.container {
	@include container;
}

.btn {
	all: unset;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1.5rem;
	color: $color-accent;
	border: 2px solid $color-accent;
	border-radius: calc($border-radius * 1.5);
	transition: $animate;
	cursor: pointer;

	&:hover {
		color: $color-white;
		background-color: $color-accent;
	}
}

.header__background {
	top: 0;
	width: 100%;
	position: absolute;
	background: $gradient;
	height: 300px;
	z-index: -1;
}

.header-menu {
	margin-top: 4.375rem;
	color: $color-white;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo {
		font-weight: 700;
		font-size: 2.5rem;
		line-height: 2.5rem;
		letter-spacing: 0.9375rem;
	}

	&__theme {
		all: unset;
	}
}

.todo {
	margin-top: 3rem;
	background-color: var(--field-color);
	border-radius: $border-radius;
	height: 4rem;
	padding: 0 1.5rem;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.125rem;
	letter-spacing: -0.0156rem;
	display: grid;
	grid-template-columns: calc(60% - 4rem) 20% auto;
	column-gap: 2rem;

	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;

	&__name {
		all: unset;
		color: var(--text-color);
		caret-color: $color-accent;

		&:placeholder-shown {
			color: var(--unactive-color);
		}
	}

	&__category {
		all: unset;
		cursor: pointer;
		color: var(--text-color);
	}
}

.todos {
	margin-top: 1.5rem;
	background-color: var(--field-color);
	border-radius: $border-radius;
	box-shadow: var(--box-shadow);

	&-list {
		display: grid;
		grid-template-columns: 1fr;

		&__item {
			display: grid;
			grid-template-columns: 1.5rem calc(60% - (5 * 1.5rem)) 10% 15% 15%;
			column-gap: 1.5rem;
			align-items: center;
			padding: 0 1.5rem;
			height: 4rem;
			border-bottom: 1px solid var(--unactive-color);
			color: var(--text-color);

			.item__status {
				all: unset;
				position: relative;
				width: 100%;
				width: 26px;
				height: 26px;
				cursor: pointer;

				&:before {
					transition: $animate;
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: center;
					content: '';
					height: 22px;
					width: 22px;
					border: 2px solid var(--unactive-color);
					border-radius: 50%;
				}
			}

			.item__status:hover {
				&:before {
					border-color: $color-accent;
				}
			}

			.item__status:checked {
				&:before {
					border-color: none;
					display: flex;
					align-items: center;
					justify-content: center;
					content: url('../assets/img/Path.svg');
					// background-image: url('../assets/img/Path.svg');
					background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
				}
			}

			.item__title {
				all: unset;
				font-weight: 400;
				font-size: 1.125rem;
				line-height: 1.125rem;
				letter-spacing: -0.0156rem;
				color: var(--text-color);
				caret-color: $color-accent;
			}
		}

		&__item.checked {
			.item__title {
				color: var(--unactive-color);
				text-decoration: line-through;
			}
		}
	}
}

.todos__footer {
	color: var(--text-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.5rem;
	height: 4rem;
}

.todos__filter {
	display: flex;
	gap: 1rem;

	&-status {
		all: unset;
	}

	labeL {
		transition: $animate;
		cursor: pointer;
		color: var(--unactive-color);
		&:hover {
			color: var(--text-color);
		}
	}

	&-status:checked ~ label {
		color: $color-accent;
	}
}

.todos__remove {
	cursor: pointer;
	color: var(--unactive-color);
	transition: $animate;

	&:hover {
		color: var(--text-color);
	}
}

